
@media print {
    @page {
        size: A4;
        margin: 0;
    }
    .aviso{
        position: static;
        bottom: 20px;
        width: 100%;
    }
    @page :header {
        display: none
    }
    nav, Nav, Button, Footer, Header, a {
        visibility: collapse;
        display: none;
    }
    h2 {
        font-size: 30%;
        margin: 0px;
    }
    main, div {
        margin: 0px;
        padding: 0px;
    }
    .divider {
        margin: '10px';
    }
    body {
        margin: 0;
        padding: 0;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}
