
@media print {
    @page {
        size: auto;
        margin: 10px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .aviso{
        position: static;
        bottom: 20px;
        width: 100%;
    }
  
    @page :header {
        display: none
    }
    nav, Nav, Button, Footer, Header, a {
        visibility: collapse;
        display: none;
    }
    h2 {
        font-size: 30%;
        margin: 0px;
    }
    main, div {
        margin: 0px;
        padding: 0px;
    }
    .patientSection {
        margin: 0px;
    }
    .divider {
        margin: '10px';
    }
    Paper {
        page-break-before: auto;
    }
    * { 
        float: none !important; 
    }
    .br, br {
        display: block;
        break-after: auto;
        page-break-after: auto;
    }
}